
</div>

<div class="footer">
    <span class="email">lgreen1701@gmail.com</span>
    <div class="social">
        <a href="https://www.facebook.com/AdmiralAkbar1">
            <img class="social-icon" src="assets/facebook.png" alt="facebook">
        </a>

        <a href="https://twitter.com/_LDMG_">
            <img class="social-icon" src="assets/twitter.png" alt="twitter">
        </a>

        <a href="https://www.instagram.com/laurence_green/">
            <img class="social-icon" src="assets/instagram.png" alt="instagram">
        </a>

        <a href="https://vimeo.com/ldmg">
            <img class="social-icon" src="assets/vimeo.png" alt="vimeo">
        </a>
    </div>
</div>

</div>

</body>
</html>