<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LAURENCE GREEN</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles.css">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="header-left">
            <a href="index.html">LAURENCE GREEN</a>
        </div>
        <div class="header-right">
            <a href=by-any-other-name.html" class="link-any-other">BY ANY OTHER NAME</a>
            <a href="videos.html" class="link-videos">VIDEOS</a>
            <a href="about.html" class="link-about">ABOUT</a>
        </div>

    </div>

    <div class="content">