/*
  TODO:
  Download font
  Align menus at top with base-line
  Embed player
  Reduce padding-top of .content on phone
  Get assets to copy on change
  Fix hover effect to not reposition
  index.html vimeo embed - fluid width 90% and fix height to be in proportion

 */

$opacity: 1;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #a60000;
  color: black;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
}

$header-size: 50px;

.container {
  margin-top: 10px;

  .header {
    div {
      display: inline-block;
    }

    .header-left {
      font-size: $header-size;
      font-weight: bold;
      float: left;
      height: $header-size;
    }

    .header-right {
      height: $header-size;
      font-size: $header-size / 2;
      float: right;

      a.link-any-other, a.link-videos {
        margin-right: 10px;
      }
    }
  }

  $content-padding: 60px;
  .content {
    clear: both;
    width: 100%;
    padding: $content-padding 0 $content-padding;

    .video-player {
      width: 90%;
      margin: 0 auto;
    }

    .videos {
      margin: 0 auto;

      $ratio: 46px;
      $tooltip-height: 150px;

      .video {
        height: 9 * $ratio;
        width: 16 * $ratio;

        .video-image {
          height: 100%;
          width: 100%;
        }

        display: inline-block;
        position: relative;
        margin: 0 20px 20px 20px;

        .video-tooltip {
          $font-size: 20px;
          $padding: ($tooltip-height / 2) - $font-size;
          display: none;
          position: absolute;
          margin-top: $tooltip-height * -1;
          background: white;
          height: $tooltip-height - $padding;
          padding-top: $padding;
          text-align: center;
          width: 100%;
          opacity: $opacity;
          font-size: $font-size;
        }
      }

      .video:hover > .video-tooltip {
        display: block;
        -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
        -o-animation: fadein 0.5s; /* Opera < 12.1 */
        animation: fadein 0.5s;
      }

      .video:hover {
        margin-bottom: $tooltip-height * -1;
        transform: scale(1.01);
      }
    }
  }

  .footer {
    text-align: center;

    .email {
      font-size: 17px;
    }

    .social {
      img {
        $size: 30px;
        height: $size;
        width: $size;
      }

      margin-left: 5px;
    }

  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: $opacity; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: $opacity; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: $opacity; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: $opacity; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
}